<a name="cap1"></a>
<div class="cap cap1">
  <div class="logo"></div>
    <a class="btn_play_now pointer">
      Juega Ahora
    </a>
  </div>
  <a name="cap2"></a>
  <div class="cap cap2">
    <div class="text">
      <h3>
        Metin2 Unlimited
      </h3>
      <p>
        Descubre un nuevo mundo farmer to Win, donde el metinero 
        más experimentado, astuto y capaz puede triunfar tanto en 
        PvM como en PvP.
      </p>
  </div>
  <img class="character" src="/static/angular/assets/img/SM_/SM_Metin2_Character_1.png">
</div>
<div class="divider divider1"></div>